name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag (e.g. v1.0.1)'
        required: true
        default: 'v1.0.1'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Set Version Variable
      shell: pwsh
      run: |
        if ("${{ github.event_name }}" -eq "workflow_dispatch") {
          echo "VERSION_TAG=${{ github.event.inputs.version }}" >> $env:GITHUB_ENV
        } else {
          echo "VERSION_TAG=${{ github.ref_name }}" >> $env:GITHUB_ENV
        }

    - name: Publish WiimoteManager
      run: dotnet publish WiiMoteUtlity/WiimoteManager/WiimoteManager.csproj -c Release -r win-x64 --self-contained false -o ./publish /p:Version=${{ env.VERSION_TAG }}

    - name: Zip Release
      run: Compress-Archive -Path ./publish/* -DestinationPath ./WiimoteManager-win64.zip

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.VERSION_TAG }}
        files: |
          WiimoteManager-win64.zip
        generate_release_notes: true
